Зравствуйте уважаемый(ая){{nameBuyer}}!
Вы сделали следующий заказ
    {{#items}}
        Наименование:          {{name}}
        Описание:              {{description}}
        Колличество:           {{count}}
        Цена за единицу товара:{{price}}
        _______________________
    {{/items}}
Всего на сумму {{totalPrice}}
Заказ отдан на обработку
